node_modules
.env
.DS_Store
build
cache
deployments
coverage
coverage.json
coverage.html
coverage.lcov
coverage.lcov.json
coverage.lcov.html
coverage.lcov.json
.vscode
.idea
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb
bun.lock
bun.lock.json
bun.lock.json
artifacts